/* Full section background */
#education {
  background: #ffe2f1;
  padding: 4rem 1.5rem;
}

.education-accordion {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}

.education-summary {
  color: rgb(181, 58, 117);
}

#education .MuiAccordionDetails-root {
  color: rgb(203, 13, 105);
}

.about-title
{
  color: rgb(203, 13, 105);
}
